@import "_vars";

::-webkit-input-placeholder {
    color: @placeholder-color;
}
:-moz-placeholder{
    color: @placeholder-color;
}
:-ms-input-placeholder{
    color: @placeholder-color;
}
.input,.textarea{
    display: inline-block;
    height: @input-height;
    padding: 6px 9px;
    border-radius: @border-radius;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid @color-border;
    background-color: #fff;
    color: @color-primary;
    width:340px;
    max-width: 100%;
}

.input:hover,.textarea:hover{
    border-color: @color-border-hover;
}
.input:focus,
.input-focus,
.textarea:focus/*,
.textarea-focus*/ {
    border-color: @color-brand!important;
}
.input-focus:hover{
    border-color: @color-brand!important;
}
.textarea{
    height: auto;
}
.input[disabled],
.textarea[disabled]{
    background-color: @color-disabled;
}
.input[disabled]:hover,
.textarea[disabled]:hover{
    border-color:@color-border;
}

.checkbox,
.radio{
    width: @font-size;
    height: @font-size;
    text-align: center;
    font-size: @font-size - 4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;
    border-radius: @border-radius;
    transition: background-color .25s;
    background-color: #fff;
    border: 1px solid @color-border;
    margin-right: 8px;
}
.radio{
    border-radius: 50%;
}
.checkbox:checked,
.checkbox:indeterminate,
.radio:checked{
    background-color: @color-brand;
}
.checkbox:checked:after{
    content: '✓';
    color:#fff;
}
.checkbox:indeterminate:after{
    content: '╍';
    color:#fff;
}
.radio:checked:after{
    content: '';
    display: block;
    height: floor((@font-size - 2) / 3);
    width: floor((@font-size - 2) / 3);
    border-radius: 50%;
    margin:35% auto;
    background-color: #fff;
}

//---表单
//
.form-item{
    margin-bottom: 22px;
}
.form-label{
    height: @input-height;
    line-height: @input-height;
    text-align: right;
    width:120px;
    vertical-align: top;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.form-required:before{
    display: inline-block;
    margin-right: 4px;
    content: "*";
    font-family: SimSun;
    line-height: 1;
    color: #f04134;
}
.form-content{
    display: inline-block;
    position: relative;
    min-height: @input-height;
    line-height: @input-height;
}
.form-footer{
    margin-left: 120px;
}