@import "../mx-style/_vars";

.statistics{
    color: @color-third;
    float: left;
}
.icon{
    font-size: @font-size - 2;
    top:-1px;
}
.num-item{
    margin: 0 3px;
    text-decoration: none;
    border-radius: @border-radius;
    text-align: center;
    width: @font-size * 2;
    height: @font-size * 2;
    line-height: @font-size * 2;
    display: block;
}
.active .num-item{
    color: #fff;
    background-color: @color-brand;
}
.notallowed .num-item,
.notallowed .num-item:hover{
    color:@color-third;
    background: transparent;
    cursor: not-allowed;
}
.rotate180{
    transform:scaleX(-1);
}
