@import "../mx-style/_vars";
.group{
    width:@font-size + 44;
    float: left;
}
.ipt{
    font-size: @font-size + 16;
    height: 50px;
    text-align: center;
    margin-bottom: 10px;
}
.o-btn{
    width:28px;
    padding: 6px;
}
.spliter{
    font-size: 27px;
    float: left;
    font-weight: bolder;
    display: inline-block;
    width:30px;
    text-align: center;
}